*.ipynb
.ipynb_checkpoints/
*.npy
*.csv
__pycache__/
*.pyc
*.txt
*.json
*.eggs/
*.egg-info/
src/batch_process/gui_configurations.py
*.bat
notebook_scripts/*
src/suite2p_cascade.egg-info/dependency_links.txt
src/suite2p_cascade.egg-info/SOURCES.txt
src/suite2p_cascade.egg-info/top_level.txt
src/suite2p_cascade.egg-info/dependency_links.txt
src/suite2p_cascade.egg-info/PKG-INFO
src/suite2p_cascade.egg-info/SOURCES.txt
src/suite2p_cascade.egg-info/top_level.txt
*.txt
