*.ipynb
*.npy
*.csv
__pycache__
*.txt
!statannotations-req.txt
src\suite2p_cascade.egg-info
src\batch_process\gui_configurations.py
src\batch_process\Scripts/run_s2p_gui.bat
\notebook_scripts\*
*.bat
